#controller_manager加载的控制器配置（通过参数服务器配置）
controller:
  sentry_chassis_controller:
    type: sentry_chassis_controller/SentryChassisController
    # 8个关节的名称（需和URDF中的关节名一致）
    joint_names: ["left_front_wheel_joint", "right_front_wheel_joint", "left_back_wheel_joint", "right_back_wheel_joint", 
                "left_front_pivot_joint", "right_front_pivot_joint", "left_back_pivot_joint", "right_back_pivot_joint"]
    # 8个关节的PID参数
    pid:
      left_front_wheel_joint:  {p: 2.0, i: 0.1, d: 0.0, i_max: 0.5, i_min: -0.5}
      right_front_wheel_joint: {p: 2.0, i: 0.1, d: 0.0, i_max: 0.5, i_min: -0.5}
      left_back_wheel_joint:   {p: 2.0, i: 0.1, d: 0.0, i_max: 0.5, i_min: -0.5}
      right_back_wheel_joint:  {p: 2.0, i: 0.1, d: 0.0, i_max: 0.5, i_min: -0.5}
      left_front_pivot_joint:  {p: 1.0, i: 0.0, d: 0.0, i_max: 1.0, i_min: -1.0}
      right_front_pivot_joint: {p: 1.0, i: 0.0, d: 0.0, i_max: 1.0, i_min: -1.0}
      left_back_pivot_joint:   {p: 1.0, i: 0.0, d: 0.0, i_max: 1.0, i_min: -1.0}
      right_back_pivot_joint:  {p: 1.0, i: 0.0, d: 0.0, i_max: 1.0, i_min: -1.0}

    #是否动态调参
    if_dyn_change: 0          #1为启用动态调参
    # 底盘逆运动学参数（按你的实际底盘尺寸修改！）
    wheel_radius: 0.055       # 轮子半径（单位：m）
    wheelbase: 0.362           # 轴距（前后轮中心距离，单位：m）
    track_width: 0.362         # 轮距（左右轮中心距离，单位：m）
    max_steer_angle: 1.57    # 舵机最大转向角（单位：rad，±90度）
    # 速度模式配置（global=全局坐标系，base=底盘坐标系）
    vel_mode: "base"       # 可根据需求切换，测试时建议先设为"base"验证基础功能
    # 加速度配置
    joint_M_max: 3         #最大扭矩   （由硬件决定）
    wheel_J: 6.846e-4      #轮子转动惯量（由硬件决定）
    car_m: 10.69           #车子质量kg （由硬件决定）
    wheel_acc: 0           #轮子最大线加速度（人为控制） 最大241  M=a*I(扭矩=角加速度*转动惯量)
    car_acc: 14            #车子最大加速度  （人为控制）最大20.4 *whell_acc设为0时才可设置
    # 陀螺模式配置
    if_spinning: 0         #1为开启
    spinnning_w: 15        #旋转速度

  joint_state_controller:
    type: joint_state_controller/JointStateController
    publish_rate: 100

#键盘控制参数
mykeyboard:
  max_linear_speed:  0.6
  max_angular_speed: 0.8
  cmd_vel_topic: /mycmd_vel



